ul {
  list-style: none;
}

ul > li {
  display: inline-block;
  letter-spacing: 1px;
  text-align: right;
}

.frame {
  width: 60%;
  margin: 5% auto;
  position: relative;
  background-color: #f1f1f1;
  overflow: hidden;
  border-radius: 15px;
}

.frame > .messages {
  margin: 2%;
  padding: 2%;
}

.frame > .messages > ul {
  display: flex;
  flex-direction: column;
}

.frame > .messages > ul > li {
  max-width: 80%;
  padding: 2% 3%;
  margin: 3% 1%;
  background-color: #2c74b3;
  color: #ffffff;
  border-radius: 10px;
  align-self: flex-start;
}

.frame > .messages > ul > .bot {
  align-self: flex-end;
  background-color: #205295;
}

.frame > .options {
  display: flex;
  align-items: center;
  padding: 2%;
  margin-top: 3%;
}

.frame > .options > p {
  width: 15%;
  font-size: medium;
  font-weight: bold;
  text-align: center;
}

.frame > .options > ul {
  width: 85%;
  display: flex;
  flex-wrap: wrap;
}

.frame > .options > ul > li {
  margin: 1%;
  width: 45%;
}

.frame > .options > ul > li > button {
  width: 100%;
  padding: 3%;
  border: 1px solid #0088ff;
  border-radius: 10px;
  font-size: small;
  outline: none;
}

.frame > .options > ul > li > button:hover {
  box-shadow: 0 0 5px 0 #0088ff;
}

.frame > .send-msg {
  padding: 3%;
  width: 100%;
  background-color: #144272;
}

.frame > .send-msg > form {
  display: flex;
  justify-content: space-around;
}

.frame > .send-msg > form > input {
  width: 85%;
  padding: 2%;
  font-size: initial;
  border-radius: 10px;
  border: none;
  outline: none;
}

.frame > .send-msg > form > button {
  width: 8%;
  padding: 2%;
  border-radius: 50px;
  border: none;
  background-color: #0a2647;
  cursor: pointer;
}
