.App {
  text-align: center;
  font-size: 18pt;
}

input {
  width: 60%;
  margin: 3%;
  padding: 1% 2%;
  border-radius: 50px;
  border: 2px solid #1e1e1e;
  background-color: transparent;
}

input:focus-visible {
  outline: 1px solid #1e1e1e;
}

button {
  display: block;
  color: #1e1e1e;
  border-radius: 30px;
  cursor: pointer;
}

button:hover {
  color: #ffffff;
  background-color: #1e1e1e;
}

.submit-btn {
  margin: 3% auto;
  padding: 1% 10%;
}

.mng-location {
  margin: 1% 5%;
  padding: 1% 3%;
}
