.App {
  text-align: center;
  min-height: 100vh;
  background-color: #282c34;
  flex-direction: column;
  align-items: center;
}

.url {
  min-width: 90%;
  max-width: 90%;
  font-size: calc(10px + 1vmin);
  min-height: 25px;
  max-height: 25px;
  margin: 40px 0px 40px;
}

.request {
  min-width: 90%;
  max-width: 90%;
  min-height: 300px;
  font-size: calc(10px + 1vmin);
  margin: 0px 0px 40px;
}

.file-input {
  font-size: calc(10px + 1vmin);
  margin: 40px 0px 40px;
  color: #ffffff;
}

.result {
  min-width: 90%;
  max-width: 90%;
  min-height: 300px;
  font-size: calc(10px + 1vmin);
  margin: 40px 0px 40px;
}

.button {
  min-width: 20%;
  max-width: 20%;
  min-height: 40px;
  font-size: calc(15px + 1vmin);
  margin: 0px 5% 40px;
}
