.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

input {
  width: 75%;
  display: block;
  height: 23px;
  margin: 30px auto;
  font-size: 15px;
}

button {
  margin: 30px auto;
  width: 20%;
  height: 35px;
  font-size: medium;
}

.list li{
  margin: 15px;
  display: block;
}